body{
    margin-top: 0%;
    padding-top: 0%;
    padding-left: 0%;
    margin-left: 0%;
border-left: solid  rgb(107, 106, 106) 15px;
border-right: solid rgb(107, 106, 106) 15px;
box-sizing: border-box;
}
.navbar{
 
display: flex;
  width: 100%;
        flex-direction: row;
         
        justify-content: space-between;
        align-items: center;
        margin-right: 6px;
        padding-right: 60% ;
  margin-bottom: 0%;
  padding: 0%;
}

    .nav-right{
display: flex;

width: fit-content;
height: fit-content;
margin-right: 2%;

font-size: 1rem;

      }
      
     
     .nav-right-block-text h1{
    text-underline-position: below;
    border-bottom: solid gray ;
    border-width: 3px;
   
    font-family: sans-serif;
    color:#a61616;
    margin: 0%;
        text-transform: uppercase;
        font-size: 1.54em;
      }
.below-line h2{
  margin: 0% 0% -2% 0% ;
  width: fit-content;
  justify-content: left;
  display: flex;
  padding: 0%;
    font-family: sans-serif;
    font-size: 3.10em;
}
.text-below-no h3{
    font-family: sans-serif;
    font-size: 1.22em;
    color: gray;
    padding: 0%;
    margin: 0% 0% 0% 0%;
    text-transform: capitalize;
}
.nav-main{
  background-color: #a61616;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
   box-shadow: inset 0 0px 100px rgba(0, 0, 0, 0.3);
}
 .nav-main ul{
  display: flex;
  margin: 0%;
 
  
 }
 .nav-main ul li{
  list-style: none;
  text-transform: uppercase;
   
   display: flex;
   
  align-items: center;
 }
ul li a{
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
   padding: 10px 20px 10px 20px ;
  font-family: sans-serif;
  
  
} 
   li:hover{
       background: rgb(88, 84, 84);
    
      }
[aria-current="page"]  {
  background-color:gray ;
      
 }

 


 form{
        margin-left: 0%;
        padding-left: 5%;
      
      }
       .form input{
        margin-bottom: 5%;
        height: 4vh;
        border: solid 1px;
      width: 14vw;
      /* margin-left: 20px; */
      
    
      }
      label{
        text-transform: uppercase;
  font-family: Verdana ;
     
        font-size: 1.9em;
       
      }   .form {
        text-align: end;   
       }
      .sections{
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
       margin-top: 20px;
   

        
      }
      .left-section{
   width: 48%;
  /* height: 65vh; */
  transition: transform 0.3s ease-in-out;
   
   
      }
      .left-section:hover{
        transform: translateY(-3px);
      }
      .left-section img{ 
        /* margin:  2% 0% 0% 2.5%; */
        padding-bottom: 0%;
       /* height: 100%; */
       height: 100%;
       width: 100%;
         box-shadow: -1px 0px 5px 0px rgb(11, 11, 11);
   
     object-position: 0cap;
      }
    
       .right-section:hover{
        transform: translateY(-3px);
      }
       .right-section {
       
        /* height: 65vh;
        width:50vw; */
width: 45%;
/* height: 65vh; */
  transition: transform 0.3s ease-in-out;

        background-image: url(form_bg.jpg);
font-size: 0.625rem;
background-repeat: no-repeat;
object-fit:contain;
background-size: 100% 100%;
background-position: center;
    
   display: flex;
   flex-direction: column;
        border:  solid rgb(180, 176, 176);
        border-width: 1px;
     box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
        /* margin: 1% 2% 0% 0%; */
        padding-right: 8px;
        padding-bottom: 0.3%;
      
      }
       .text-field textarea{
height: 10vh;
width: 37vw;


font-family: sans-serif;
      }
        #field::placeholder{
color: black;
font-size: 1.125rem;
opacity: 80%;
padding-left: 3%;
      }
      .text-F p{
        font-size: 2em;
        margin-top: 0.5%;
      
        font-family: sans-serif;
      }
    
      .last{
        display: flex;
  align-items: center;
  margin-left: 0%;
  padding-left: 0%;
  padding-bottom: 2%;

      }
          .Guranted p{
            font-size: 1rem;
            opacity: 70%;
            color: black;
            font-family: Verdana;
          }

      .submit-btn{
        background-image: url(bullet_white.gif);
      background-repeat: no-repeat;
      /* background-position:32rch ; */
       background-position: 12.8em center;
      border: none;
      background-size: 10px;
      background-color:#a61616;
      color: white;
      text-transform: capitalize;
     font-size: 20px;
      box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
     width: 275px;
      height: 40px;
margin-left: 5px;
padding-left: 0%;
      margin-top: 10px;
      }




    
      .partition{
        margin: 2%;
      }

  .box{
    margin-left: 5%;
    
  }
  #leftbodyimage{
  margin-top: 20px;
   margin-left: 50%;
  }
      .box-border {
        margin: 5% 0% 0% 20%;

      }
      .box-border img{
        height: 30px;
        width: 40px;
      }
      .last-border-right{
        display: flex;
        
        flex-direction: column;
      }
      .bottom-gallery{
        display: flex;
        
       justify-content: space-evenly;
      
      }
      .border-right{
        
        margin-right: 1%;
        margin-left: 10px;
        
        
        display: flex;
        justify-content: center;
        
      }
      .box5 h3{
        font-size: 1.25rem;
        text-transform: uppercase;
        margin: 0% 0% 0% 5% ;
        padding: 0%;

      }
      .box5 p{
        margin: 0% 0% 0% 5% ;
        padding: 7px 0% 5% 0%;
        width: 100%;

      }.box5{
        margin-bottom: 10%;
      }
      .btuun{
        display: flex;
        flex-direction: column;
        
      }
      
  .btun-c3{
    display: flex;
    flex-direction: column;
  align-items: center;
  align-items: center;
 
  }
 
      .btn9{
        margin: 0%;
        padding: 0% 0% 0% 5%;
        margin-left: 60px;
        font-size: 0.625rem;
        display: flex;
        align-items: center;
        gap: 5px;
    background-color: #a61616; 
    color: white;  
    width: 100px;
     height: 25px; 
     text-transform: uppercase;
      border: #a61616; 
      box-shadow: black 2px;
      }
      .btuun img{
        margin: 0%;
        padding: 0%;
      
      }
      .midle{
        
       
        padding: 3% 5% 0% 10%;
        
       
      }
      .midle h5{
        font-size: 1.5625rem;
       margin: 0%;
        text-transform: uppercase;
      }
      .midle p{
        font-size: normal;
        line-height: 25px;
        text-align: start;

      }.center-section{
        margin-left:0% ;
        width: 100% ;
      
      }
      .center-section-top{
        margin-left: 3%;
      }
      
     
      .col-12{
        margin-left: 0%;
        padding-left:0% ;
       
      }
      .col-4{
        margin-left: 0%;
        padding-left: 0%;
      }
       .container{
        display: flex;
       
      } 
     
  .left-footer-border h3{
    font-size: 1.25rem;
    font-family: serif;
   
  }
      .learn-more-about{
        margin-top: 0%;
        font-size: 1.375rem;
      
      }
     
      
      .learnmore{
        gap: 8px;
        text-transform: uppercase;
        display: flex;
        align-self: flex-end;
       
       
       position: absolute;
        right: 10px;
        top: 40px;
       font-size: 0.9375rem;

      }
    .box0 a{
      text-decoration: none;
      color:white;
      font-size: 0.75rem;
      
    }
      .box0{
        display: flex;
        
        position: relative;
        margin-bottom: 5%;
        width: 100%;
        background-color: gray;
       box-shadow: inset 0px -10px 10px rgba(112, 111, 111, 0.3);
       
        height: 65px;
      }
      .box-content p{
        text-transform: uppercase;
        color: white;
        font-family: sans-serif;
      }
      .divtext2 img{
        padding-left: 5px; 
      }
      
      .divtext{
        font-size: 1.25rem;
        margin:0% 0% 0% 0%;
        padding: 2%;
        font-family: sans-serif;
      }
      .text-last p{
        margin: 0% 0% 5% 5%;
       margin: 0%;
     padding-top: 3%;
     padding-bottom: 5%;
     font-family:  Arial, Helvetica, sans-serif;

     font-size: 1.1875rem;
      }
      .text p{
        margin: 2% 0% 0% 5%;
        font-size: 1.5em;
        text-transform: uppercase;
        font-family: serif;
        padding: 0%;

      }
      
      .left-sc{
        margin: 8% 5% 0% 10%;
      }
      .right-sc{
        margin: 5% 0% 0% 0%;
      }
      
    .learn-text{
      font-size:1.0625rem;
      font-family:Arial, Helvetica, sans-serif;
      margin-top: 1%;
      margin-left: 0%;
      padding-left: 0%;
      
    }
      .container-fluid{
  padding: 0% 0% 2% 0%;
  width: 100%;

  display: flex;
 
  } .row-tablet{
    display: flex;
 
    
  }

 
   .row{
      display: flex;
      width: 100%;
      justify-content: center;
      
      

      
    }
      .law-blog{
        margin:  0% 0%  0% 0% ;
      
        font-size: 1.5em;
        font-family: serif;
        text-transform: uppercase;
      }
     .text-3 p{
     margin: 0%;
     padding-top: 10%;
     font-family:  Arial, Helvetica, sans-serif;

     font-size: 1.1875rem;
     padding-bottom: 10%;
     }
     .text-4 p{
     margin: 0%;
     padding-top: 3%;
     font-family:  Arial, Helvetica, sans-serif;

     font-size: 1.1875rem;
     padding-bottom: 20%;
     }
     

     
     .btun-c2{
      margin-top: -3%;
     }
     .center-top-btn {
      margin-top: -6%;
     }
     
     #left-section-body1{
     width: 100%;
     display: flex;
/* justify-content: center; */
align-items: center;
margin-left: 5%;
    } 
      
     
    .contain{
      display: flex;
     /* flex-wrap: wrap; */
      width: 100%;
margin-top: 3%;
margin-bottom: 3%;
      
    }
    .section1{
width: 33%;

    }
    .heading h2{
      font-family: "Times New Roman", Georgia, serif;
      font-size: 1.6875rem;
      margin: 0%;
      text-transform: uppercase;
    }


    .heading-RC h2{
      font-family: "Times New Roman", Georgia, serif;
      font-size: 1.6875rem;
      margin: 0%;
      text-transform: uppercase;
      padding-top: 5%;
    }
.left-section-body h3{
  margin: 0%;
  font-size: 1.25rem;
  padding: 0%;
  font-family:  Arial, Helvetica, sans-serif;
  color: #a61616;

}
    .section2{
      display: flex;
      width: 37%;
   border-right: solid gray 1px;
   border-left: solid  gray 1px;
       /* justify-content: center;  */
      
    }
    .section3{
       display: flex;
      width: 30%;
       justify-content: center; 
    }
    /* #right-body{
      width: 100%;
    } */
    
    .images-R {
      display: flex;
      margin-left: 10%;
      gap: 15px;
    }
     #center-section{
    width: 100%;
     display: flex;
;



     

   
    }
    .center-top{
      display: flex;
      flex-direction: column;
 margin-left: 5%;
    }
    .center-section-top h2{
     font-family: "Times New Roman", Georgia, serif;
      font-size: 1.6875rem;
      margin: 0%;
      padding: 0%;
    }

    .bottom-center{
      margin-left: 5%;
    }
    .border-bottom hr{
      width: 100%;
      margin-top: 2%;
      margin-bottom: 2%;
   
    }
     .center-section-top{
     
    display: flex;
  margin:0% ;
  padding: 0%;
    
     
    }
     .right-body-section{
      width:100%;
      margin-left: 0%;
      padding-left: 0%;
      padding-top: 5%;
     }
   #image-t img{
   
   margin: -15% 0% 0% 51% ;
  

   }
   #image-b img{
   margin: -20% 0% 0% 10% ;
   }
  .line1{
    height: 1px ;
    width: 230px;
    background: #000;
    margin-left:5%;
    
  }

  .btun{
    margin-left: 15%;
  }
  .line{
    height: 0.5px;
    width: 200px;
    background: #000;
    margin: 0%;
  }
  .btn1{
 margin-left: 50px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2);
          background-color: #a61616;
           color: white; 
            width: 130px; 
            height: 30px; 
            text-transform: uppercase;
             border: #a61616;
              box-shadow: black 2px;
              gap: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 0.625rem;
  }
  .line0{
     height: 1px ;
    width: 230px;
    background: #000;
    margin-left:0%;
  }
  .line5{
    height: 0.5px;
    width: 200px;
    background: #000;
    margin: 0%;
  }
  
       .btn{
        margin-left: 30%;
          box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2);
          background-color: #a61616;
           color: white; 
            width: 130px; 
            height: 30px; 
            text-transform: uppercase;
             border: #a61616;
              box-shadow: black 2px; 
       }
   
     
      
   
      #image-line{
        width:200px;
         height:2px;
      }
   
       /* .head{ 
         display: flex;
      
        width: 190px;
        height: 40px;
        background-color: #a61616;
        display: flex;
        font-size: 0px;
        text-transform: uppercase;
        color: white;
      } */
     /* .head h3{
    color: #000;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
   
     
     } */

     
      .head{
        color: #110f0f;
        display: flex;
        margin: 0%;
        padding: 0%;
        
      }
         #formimage{
transform: rotate(9deg);
height: 7em;
width: 21em;
margin-bottom: 2em;
      }
      
     
      .head  h4{
       
        margin: 0%;
      font-family: sans-serif;
   padding: 0.5em 0  0  1em ;
      font-size: 2.1em;
    width: fit-content;
  
    
      }
      .head h3{
        background-color: #a61616;
        /* /* width 16vw;: */
       height: fit-content; 
        font-family:   Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 3em;
        color: white;
        padding: 1% 2% 1% 2%;
        margin: 0%;
      }
     
    
    
     
      .photo-border img{
        height: 12vh;
        width: 8vw;
        margin-bottom: 10%;
      }
   
   
     .left-footer-border{
      display: flex;
      flex-direction: column;
      width: 250px;
      padding-left: 15%;
     }
.border-right{
  display:flex;
  flex-direction: column;
margin: 0%;
padding: 0%;
} 
 /* .wraper1{
  display: flex;
   justify-content: center;
  align-items: center; 
  
}  */
     

@media  screen and ( min-width:500px) and (max-width:650px){
  .nav-right{
    font-size: 8px !important;
width: 50% !important;
  }
  .navlogo img {
    width: 70% !important;
  }
  ul li a{
  color: white;
  font-size: 0.7rem !important;
  /* width: max-content; */
} 
 .head h3{
    display: flex;
    justify-content: center;
    align-items: center;
 padding:3% ;
 margin: 0% !important;

  }
 

}

@media only screen and ( max-width:500px) {
    
  html{
    font-size: 80%;
  }

  body{
    margin: 0%;
    padding: 0%;
  }
.navbar{
  display: flex;
  flex-direction: column;
align-items: center;
margin: 0% !important;
}
.photo-border img{
width: max-content;
margin: 0% !important;
padding: 0% !important;
}

#left-section-body1{
  border-right: none !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.navlogo img{
  width: 100%;
  height: 60px;
 
}
.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.nav-main li {
  width: 100%;
  border-bottom: solid white 0.8px;

}

.nav-main {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0%;

  display: flex;
  flex-direction: column;
align-items: start;
/* margin: 1%; */
}
 .nav-main ul{
  display: flex;
  flex-direction: column;

  align-items: start;
  padding-left: 0%;
  margin-left: 5%;

}
ul li a{
  color: white;
  font-size: 1rem;
  width: max-content;
} 
ul{
 width: 100%;
 
  margin-left: 0% !important;
  padding-left: 0% !important;
}

li [aria-current="page"]  {
  width: 100%;
     background-color:gray ;
     
 } 
 .center-top-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .btun-c2{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .btun{
  padding: 0%;
  margin: 0%;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 }
 .btn1{
  padding: 0%;
  margin: 0%;
  height: 25px;
  display: flex;

 }

.sections{
        display: flex;
        flex-direction: column;
     
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding: 0%;
        margin-bottom: 5%;
        margin-top: 5%;
       margin: 0%;

      }

      .left-section img{
        width:100% ;
        /* height: max-content; */
        margin: 0% !important;
       
       
      }
        .left-section {
        width: 90%;
        height: fit-content;
        display: flex;
        /* justify-content: center;
        align-items: center; */
      }
        .right-section{
        display: contents;
      margin-top: 2px;
      width:90% ;
        /* height: max-content; */
        margin-left: 0%;
        background-image: url(form_bg.jpg);

   display: flex;
   flex-direction:column;
        border:  solid rgb(180, 176, 176);
        border-width: 1px;
     box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
      
      
      }
       .last{
      
     display: flex;
     flex-direction: column;

     
     
     }
      .text-field textarea{
height: 30px;
width: 100%;
font-size: 10px ;
      }
      .form input{
        margin-bottom: 5%;
        height: 1vh;
        border: solid 1px;
    font-size: 6px;
    align-items: center;
    width: 100px;
    height: 12px;
   

      }
      .form label{
        display: flex;
        text-align: left;
      }
         #field::placeholder{
color: black;
font-size:10px;
opacity: 60%;
padding-left: 1%;
      }
      .head{
      display: flex;
      flex-direction: column;
      /* padding: 10%; */
     font-size: 60% !important;
      }
      .head h4 br{
        display: none;
 margin-left: 100px !important;
      }
     
.head h3{
  margin: 0% !important;
  padding: 1% 20% 1% 10% ;
 
}
h3{
text-align: center;
}
.learn-more-about p{
  text-align: center;
}
      .menu{

        text-align: center;
      }.midle{
        text-align: center;
      }
    
       .submit-btn {
        background-image: url(bullet_white.gif);
      background-repeat: no-repeat;
      background-position:21rch ;
      border: none;
      background-size: 6px;
      background-color:#a61616;
      color: white;
      text-transform: capitalize;
     font-size: 10px;
      box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
     width: 150px;
      height: 20px;
margin-left: 2px;
align-items: center;
      margin-top: 10px;
      }
      #left-section-body1{
        width: 100%;
        margin: 0%;
        text-align: center;

      }
       .contain{
      display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
justify-content: center;
    }
    .section1{
      width: 100%;
      font-size: 6% !important;
      
    }
    .box{
    
      margin: 0%;
      padding: 0%;
      text-align: center;
      
    }
    .btn9{
      display: flex;
      justify-content: center;
height: 22px;
      padding: 0%;
      margin: 0%;
    }.btuun{
        display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    }
    .section2{
      border-right: none;
      border-left: none;
    }
    .images img{
      margin: 0% !important;
      padding: 0% !important;
      padding-bottom: 5% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

   
      #center-section{
        width: 100%;
        border-right: none !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;


      }
     .right-body-section{
      width: 100%;
      display: flex;
      flex-direction: column;
      
      margin-top: 50px;
      text-align: center;
     }
      .center-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-right:none ;
        border-right: none !important;
      }
      
.left-footer-border{
        display:flex;
        width: 100%;
        flex-direction: column;
      /* align-items: center;
      align-content: center;
      justify-content: center; */
      /* align-content: center; */
       
       padding-left: 0% !important;
      
      }
    
      .row{
        display: flex;
        flex-direction: column;
        align-items: center;
       

       
      }
    
    .border-bottom{
      border-bottom: none;

    }
    .center-top{
      padding-bottom: 0%;
      margin-bottom: 0%;
      padding-bottom: 10px;
      padding-top: 20px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
      #center-section{
        border-right: none;
        padding-top: 15%
      }
      /* .images img{
        height: 15vh;
        width: 16vw;
      } */
      .images{
        padding: 0% !important;
        margin-left: 0%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
      }
      .nav-right{
    font-size: 0.5rem;
  display: contents;

  }
   body{
    border: none;
  }
   .two-section{
      display: flex;
      flex-direction: column;
     

      
     
    }
     /* #image-t img{
   
   margin: 0% 0% 0% 0% ;
  

   }
   #image-b img{
   margin: 0% 0% 5% 0% ;
  
   } */
      form{
  font-size: 4px;
  padding: 2%;
  text-align: start;

      }
      .last p{
        font-size: 10px;
      }
  .box-border{
  margin-left: 0%;

  }
 .border-right{
  text-align: center;
 }
      .boxes{
        display: flex;
        flex-direction: column;
       
        align-items: center;
      }
      .wrape{
        display: flex;
      flex-direction: column;  
    justify-content: center;
    align-items: center;


    
    }
    /* html{
      font-size: 70%;
    } */
 
     }
    
@media  screen and ( min-width:570px) and (max-width:600px) {
#left-section-body1{
  margin-left: 0% !important;
}
}
  
@media  screen and ( min-width:480px) and (max-width:800px) {
  
  
  body{

    border: none;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  
  
  .navbar{
     margin: 0% !important;
    padding: 0% !important;
  }
  html{
    font-size: 90%;
  }
 
  
.navbar{
  display: flex;
  /* flex-direction: column; */
align-items: center;
justify-content: space-between;
}

.navlogo img{
  width: 70%;
  /* font-stretch: extra-expanded; */
  /* height: 100px; */
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  width: 40%;
  
}
.nav-main {
  display: flex;

justify-content: center;
margin-bottom: 1%;


}
 .nav-main ul{
  display: flex;
  padding-left: 0%;


}
ul li a{
  color: white;
  font-size: 0.8rem;
  
} 


 .breadcrum-items[aria-current="page"]  {
     background-color:gray ;
   
 } 
   hr{
      width:100%;
margin-left: 0%;
     
    }

.sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   width: 100%;
        padding: 0%;
        margin-bottom: 2%;
        gap: 20px;
       

      }

      .left-section img{
        width:90% ;
        /* height: 60vh; */
       
   object-fit: cover;
          object-position: 0cap;
        /* object-fit: contain; */
           margin: 0% !important;
           padding: 0% !important;
       
      }
        .left-section {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        margin: 0% !important;
        padding: 0% !important;

      }

        .right-section{
        
    
         width:90% ;
        /* height: 60vh;
        */
  
        background-image: url(form_bg.jpg);
font-size: 10px;
background-repeat: no-repeat;

background-size: 100% 100%;
background-position: center;
    
   display: flex;
   flex-direction:column;
        border:  solid rgb(180, 176, 176);
        border-width: 1px;
     box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
      
      }
      .head{
        display: flex;
        flex-direction: column;

      }
      .head h4 br{
        display: none;

        
      }
         .form{
        text-align:left;
        align-items: center;
        
  gap: 5px;
 

       }
      
      .head h3{
        font-size: 1rem;
      }
      .text-field textarea{
height: 40px;
width: 95%;
font-size: 10px;
      }
      .form input{
        margin-bottom: 5%;

        height: 3vh;
        border: solid 1px;
      width: 200px;
      }
/* .name input{
       margin-left: 20px;
      }
.email input{
       margin-left: 17px;
      }
      .phone-no input{
       margin-left: 9px;
      } */
     form{
    
    padding-left: 10px;
      margin-left: 1px;
     
     }
     #formimage{
      width: 95%;
     }
     .last{
      
     display: flex;
     flex-direction: column;
     
     }
       .submit-btn {
      padding: 0%;
      margin: 0%;

      height: 28px;
      }


     
      #left-footer-border{
        display: flex;
        width: 90%;
        flex-direction: column;
      justify-items: center;
       margin-left: 5% !important;
       margin: 0%; 
       padding-left: 0% !important;
        
       
      }
    
      .row{
        display: flex;
        flex-direction: column;
       
      }
      
    /* .three-sections{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;

    } */
    .contain{
      display: flex;
flex-wrap: wrap;
width: 100%;
/* justify-content: center; */
    }
      .section1{
width:49%;
      display: flex;
      flex-direction: column;

/*      
      text-align: center; */

    }
    .images-R {
  
   justify-content: center;
    
  }

/* .btun{
  margin-left: 0%;

} */
 
    .section2{
      display: flex;
      width: 47%;
      margin-left: 0%;
border-right: none;
     
    }
/*    
    .btun  {
      margin: 0%;
padding: 0%;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
      /* display: flex;
      flex-direction: column;
align-items: center;
justify-content: center;
text-align: center; */
  
     */
 .line{
  margin: 0% !important;
  padding: 0% !important;
  display: flex;
  justify-content: center;
  align-items: center;
 }

    .center-top{
      display: flex;

      justify-content: center;
      align-items: center;
      text-align: center;
    }
    /* .center-top-btn{
      margin: 0%;
      display: flex;
      flex-direction: column;
      align-items: center;
    } */
    
    .bottom-center{
      justify-content: center;
      align-items: center;
      text-align: center;
    }
     .center-top-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .btun-c2{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .btun{
  padding: 0%;
  margin: 0%;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 }
 .btn1{
  padding: 0%;
  margin: 0%;
  height: 25px;
  display: flex;

 }
    .section3{
      width: 100%;
    }

.line5{
    height: 0.5px;
    width: 450px;
    background: #000;
    margin: 0%;
  }

 .btun-c3 button{
  margin: 0% ;
  
            width:400px; 
        
  }
 
 .btun-c3{
  margin-left: 0%;
  padding-left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
 }

     #leftbodyimage{
  margin-top:0%;
   margin-left: 0%;
  }
  .row-tablet{
    display: flex;
    justify-content: center;
   
    text-align: center;
  }
    /* #row{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0%;

      padding: 0%;
    } */
   
    .right-body-section{
      display: flex;
      flex-direction: column;
/* align-items: center;
justify-content: center; */
      

    }
    #right-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
      text-align: center;
    }
    .two-section{
      display: flex;
      flex-direction: column;
      
     
    }
     #image-t img{
   
   margin: 0% 0% 10% 0% ;
  

   }
   #image-b img{
   margin: 0% 0% 0% 0% ;
  
   }

   .images{
    padding: 0%;

   }
   .text-4 p{
    padding-bottom: 5%;

   }
    .heading{
      display: flex;
      flex-direction: column;
    }
    .images {
      display: flex;
      justify-content: center;
padding-bottom: 5%;
    }
    
    
      /* .images img{
        height: 15vh;
        width: 16vw;
      } */
      /* .images{
        padding: 0% !important;
        margin-left: 0%;
      } */
.left-footer-border{
  width: 100%;
  margin-left: 0% !important;
  padding-left: 0%;
  

}

.left-footer-border h3{ text-align: center;

}
.midle{
  text-align: center;

}
.learn-more-about{
  text-align: center;

}
.menu{
  text-align: center;
}

  .box-border {
        margin: 0% 0% 0% 0%;

      }
      .box-border img{
        height: fit-content;
        width: auto;
      }
      .last-border-right{
        display: flex;
        
        flex-direction: column;
     
        align-items: center;
      }
      .bottom-gallery{
        display: flex;
 justify-content: left;
       gap: 5px;
      }
    

      
      .border-right{
        
        margin-right: 1%;
        margin-left: 10px;
        
        
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      .box5 h3{
        font-size: 20px;
        text-transform: uppercase;
        margin: 0% 0% 0% 5% ;
        padding: 0%;

      }
      .box5 p{
        margin: 0% 0% 0% 5% ;
        padding: 0% 0% 0% 0%;
        width: 100%;

      }.box5{
        margin-bottom: 15%;
      }

      .btn9{
        padding-left: 0%;
        justify-content: center;
      }
      /* .photo-borde img{
        height: fit-content;
        margin-bottom: 0%;
        padding-bottom: 0%;
      } */
      .text-div-top{
        display: flex;
        justify-content: left;
        margin-left: 0% !important;
        padding-left: 0%;
      }
       .photo-border img{
        height: auto;
        width: auto;
        margin-bottom: 1% !important; 
      }
      .wrap{
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
      }
      .wrape{
        display: flex;
        flex-direction: column;
        align-items: center;
       
      }
      .box-content p{
padding: 1% !important;
color: white;
      }
  

    }
    
@media  screen and ( min-width:800px) and (max-width:1023px) {
  html{
    font-size: 60%;
  }
  .navlogo img{
height: fit-content;
width: 60%;

  }
   .btn1{
    width: 100px;
    height: 20px;
    padding: 0%;
    margin: 0%;
    
  }
  .btun-c3{
    margin: 0%;
    padding: 0%;
  }
  .line5{
    width: 130px;
  }
  .images img{
    
    height: 60px;
    width: fit-content;
  }
  .images-R img{
    height: 50px;
    width: fit-content;
  }
  .btun{
    margin: 0%;
    padding: 0%;
  }
  .btn5{
    margin: 0%;
    padding: 0%;
  }
   .line{
    height: 0.5px;
    width: 130px;
    background: #000;
    margin: 0%;
  }
  .left-footer-border{
    margin: 0%;
    padding: 0%;
  }
}

@media  screen and ( min-width:1024px) and (max-width:1130px) {

  form{
    padding-left: 2%;
  }
  html {
    font-size: 75%;
    
  }
  .navlogo img{
    height: min-content;
    width: 70%;
  }
 
}
  


    
           */
/* .learn-more-about{
  display: flex;
        justify-content: center;
 }
      .dropdown-content{
    display: flex;
       margin-left: 0% !important;
        justify-content: center;
       
}
.left-footer-border h3{
  display: flex;
  justify-content: center;
}
 .border-bottom{
        border-bottom: none;
       
       

 }
      
.boxrow{
  display: flex;
  
}
#center-section{
  border-right: none !important;
  display: flex;
text-align: center;


}
 /* .wraper1{
  display: flex;

   justify-content: center;
  align-items: center; 
  
}  */
/* .photo-border img{
width: max-content;
margin: 0% !important;
padding: 0% !important;
} */
     
     
/* @media  screen and ( min-width:805px) and (max-width:1150px){
.right-section{
  font-size:8px ;
  padding-left: 0%;
  margin-left: 0%;
}
form{
  margin-left: 0%;
  padding-left: 0%;
}

} */
     
/* .left-section-body  p{
  font-size: 20px  !important;

}
.left-text-section p{
  font-size: 2px !important;
}
.images img{
width: 100px;
height: 60px;
} */

/* 
     @media  (max-width: 500px)  {

        
    


.left-footer-border {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #rbs{
   display: flex;

  justify-content: center;
  justify-items: center;
 text-align: center;
  align-items: center;
 
}    */
/* .nav-right{
    font-size: 0.5rem;
  display: contents;

  }
 .navbar{
  display: contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
  
  .navlogo img{
 width: 50vw;
 height: 10vh;
 
  }
  ul{
    
margin: 0%;
    height: 5vh;
     display: flex;
   
    justify-content: center;
    gap: 10px;

  }.nav-main{
       height: 25px; 
  }
  li a{
    font-size: 0.5rem; 
    display: flex;
 
    
  }
   .breadcrum-items[aria-current="page"]  {
     background-color:gray ;
     height: 15px;
     width: 30px;
   
    
    
 } 
 
.btn{
  width: 20px;
  height: 10px;
}
.sections{
  display: flex;
  flex-direction: column;
  ter;
  align-items: center;
 
  
}
 .left-section img{ 
       
        
        object-fit: cover;
       height: 35vh;
       width:100%;
         box-shadow: -1px 0px 5px 0px rgb(11, 11, 11);
     
      }
       .right-section{
        display: contents;
      margin-top: -20px;
      margin-left: 25px;
        height: 35vh;
        width: 75vw;
        background-image: url(form_bg.jpg);
font-size: 4px;
background-repeat: no-repeat;
object-fit: cover;
background-size: 100% 100%;
background-position: center;
    
   display: flex;
   flex-direction:column;
        border:  solid rgb(180, 176, 176);
        border-width: 1px;
     box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
      
      
      }
           .form input{
        margin-bottom: 5%;
        height: 2vh;
        border: solid 1px;
      width: 15vw;
    
      }
     
      h3{
        font-size: 10px;
      }
       textarea{
        height: 100%;
        width: 150px;
        
      }
        .submit-btn{
        background-image: url(bullet_white.gif);
      background-repeat: no-repeat;
      background-position: 15em;
      background-size: 1em;
      background-color:#a61616;
      color: white;
      text-transform: capitalize;
     font-size: 1.5em;
     padding-bottom: 9px  ;
     padding-left: 10px;
     width: 19em;
      height: 0.5em;
margin-left: 5em;
margin-top: 3%;
     
      }

  
      
      
   
   .btn0{
    height: 10px;
    width: 50px;
    font-size: 4px;
    display: flex;
   }
      }
      
      
    

  
   .partition-div img{
width: 100%;
height: 10px;
display: flex;
align-items: center;
justify-content: center;
   }
  
   
      (max-width: 50px)  {
.left-footer-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{

   display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.center-section{
   display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.right-body-section{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}
#rbs{
   display: flex;

  justify-content: center;
  justify-items: center;
 text-align: center;
  align-items: center;
 
}   
.nav-right{
    font-size: 0.5rem;
  display: contents;

  }
 .navbar{
  display: contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
  
  .navlogo img{
 width: 50vw;
 height: 10vh;
 
  }
  ul{
    
margin: 0%;
    height: 5vh;
     display: flex;
   
    justify-content: center;
    gap: 10px;

  }.nav-main{
       height: 25px; 
  }
  li a{
    font-size: 0.5rem; 
    display: flex;
 
    
  }
   .breadcrum-items[aria-current="page"]  {
     background-color:gray ;
     height: 15px;
     width: 30px;
   
    
    
 } 
 
.btn{
  width: 20px;
  height: 10px;
}
.sections{
  display: flex;
  flex-direction: column;
  ter;
  align-items: center;
 
  
}
 .left-section img{ 
       
        
        object-fit: cover;
       height: 35vh;
       width:100%;
         box-shadow: -1px 0px 5px 0px rgb(11, 11, 11);
     
      }
       .right-section{
        display: contents;
      margin-top: -20px;
      margin-left: 25px;
        height: 35vh;
        width: 75vw;
        background-image: url(form_bg.jpg);
font-size: 4px;
background-repeat: no-repeat;
object-fit: cover;
background-size: 100% 100%;
background-position: center;
    
   display: flex;
   flex-direction:column;
        border:  solid rgb(180, 176, 176);
        border-width: 1px;
     box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
      
      
      }
      #field::placeholder{
color: black;
font-size: 5px;
font-family: Impact, ;
      }
           .form input{
        margin-bottom: 5%;
        height: 2vh;
        border: solid 1px;
      width: 15vw;
    
      }
     
      h3{
        font-size: 10px;
      }
       textarea{
        height: 100%;
        width: 150px;
        
      }
        .submit-btn{
        background-image: url(bullet_white.gif);
      background-repeat: no-repeat;
      background-position: 15em;
      background-size: 1em;
      background-color:#a61616;
      color: white;
      text-transform: capitalize;
     font-size: 1.5em;
     padding-bottom: 9px  ;
     padding-left: 10px;
     width: 19em;
      height: 0.5em;
margin-left: 5em;
margin-top: 3%;
     
      }

  
      
      
   
   .btn0{
    height: 10px;
    width: 50px;
    font-size: 4px;
    display: flex;
   }
      }
      
      
    

  
   .partition-div img{
width: 100px;
height: 1px;
display: flex;
align-items: center;
justify-content: center;
   } */
   */
   
    
 

  */
