body{
    margin-top: 0%;
    padding-top: 0%;
    padding-left: 0%;
    margin-left: 0%;
border-left: solid  rgb(107, 106, 106) 15px;
border-right: solid rgb(107, 106, 106) 15px;
box-sizing: border-box;
}

.navlogo img{
  height: 20vh;
  width: 50vw;
 
}
.row{
  width: 100%;
}
    .nav-right{
display: contents;
flex-direction: column;
width: fit-content;
height: fit-content;
margin-top: 1%;

font-size: 1rem;

      }
      .nav-right-block{
        margin-right: 2%;

      }
     .nav-right-block-text h1{
    text-underline-position: below;
    border-bottom: solid gray ;
    border-width: 3px;
   
    font-family: sans-serif;
    color:#a61616;
    margin: 0%;
        text-transform: uppercase;
        font-size: 1.54em;
      }
.below-line h2{
  margin: 0% 0% -2% 0% ;
  width: fit-content;
  justify-content: left;
  display: flex;
  padding: 0%;
    font-family: sans-serif;
    font-size: 3.10em;
}
.text-below-no h3{
    font-family: sans-serif;
    font-size: 1.3em;
    color: gray;
    padding: 0%;
    margin: 0% 0% 0% 0%;
    text-transform: capitalize;
}
 
      /* h1{  */
        /* margin: 0%;
        text-transform: uppercase;
        font-size: 1.25em;
      }
     .below-line h2{
        margin: 0%;
      
      
      }
      .text-below-no h3{
        margin: 0%;
    text-transform: capitalize ;
    font-size: em;
      } */ */



.breadcrumb{
  margin: 0%;

 

}


ul{
   align-items: center;

   
   margin-left:495px ;
 font-size: 1.3rem;
  height: 7.5vh;
  gap: 3rem;
  list-style-type: none;
  margin-right: 0%;
  text-transform: uppercase;
  padding-right: 0%;
  margin-top: 0%;
  text-decoration: none;
  color: white;


}

li a{
  display: inline-block;
 justify-content: center;
 color: white;
text-decoration: none;


 
}

.nav-main{
     box-shadow: inset 0px 2px 50px rgba(15, 6, 6, 0.5);
    background-color: #a61616;
    margin-top: 0%;
    padding-top: 0%;
    
}

  a{
        text-decoration: none;
        color: white;
        font-family: sans-serif;
    
      }
   .breadcrum-items[aria-current="page"]  {
     background-color:gray ;
     height: 40px;
     width: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
        color:white ;
   text-decoration: none;
 }
       
      ul>li:hover{
        height: 40px;
        display: flex;
        align-items: center;
        background: rgb(88, 84, 84)
      }
 
      #field::placeholder{
color: black;
font-size: 15px;
font-family: Impact, ;
      }
      .partition{
        margin: 2%;
      }
.three-sections{
  margin-top: 04%;
   width: 100% ;
   display: flex;
  }
  .box{
    margin-left: 5%;
  }
  #leftbodyimage{
  margin-top: 20px;
   margin-left: 50%;
  }
      .box-border {
        margin: 5% 0% 0% 20%;

      }
      .box-border img{
        height: 30px;
        width: 40px;
      }
      .last-border-right{
        display: flex;
        
        flex-direction: column;
      }
      .bottom-gallery{
        display: flex;
        
       justify-content: space-evenly;
      
      }
      .border-right{
        
        margin-right: 1%;
        margin-left: 10px;
        
        
        display: flex;
        justify-content: center;
        
      }
      .box5 h3{
        font-size: 20px;
        text-transform: uppercase;
        margin: 0% 0% 0% 5% ;
        padding: 0%;

      }
      .box5 p{
        margin: 0% 0% 0% 5% ;
        padding: 7px 0% 5% 0%;
        width: 100%;

      }.box5{
        margin-bottom: 10%;
      }
      .btuun{
        display: flex;
        flex-direction: column;
        
      }
      
  .btun-c3{
    padding-left: 15%;
  }
 
      .btn9{
        margin: 0%;
        padding: 0% 0% 0% 5%;
        margin-left: 60px;
        font-size: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
    background-color: #a61616; 
    color: white;  
    width: 100px;
     height: 25px; 
     text-transform: uppercase;
      border: #a61616; 
      box-shadow: black 2px;
      }
      .btuun img{
        margin: 0%;
        padding: 0%;
      
      }
      .midle{
        
       
        margin: 0% 0% 0% 5%;
        padding: 0%;
       
      }
      .midle h5{
        font-size: 25px;
       margin: 0%;
        text-transform: uppercase;
      }
      .midle p{
        font-size: normal;
        line-height: 25px;
        text-align: start;

      }.center-section{
        margin-left:0% ;
      }
      .center-section-top{
        margin-left: 3%;
      }
     
      .col-12{
        margin-left: 0%;
        padding-left:0% ;
       
      }
      .col-4{
        margin-left: 0%;
        padding-left: 0%;
      }
       .container{
        display: flex;
        
        
      } 
     
  .left-footer-border h3{
    font-size: 20px;
    font-family: serif;
  }
      .learn-more-about{
        margin-top: 0%;
        font-size: 22px;
      }
      .footer-section{
        margin-left: 20px;
            width: 22%;
        margin-right: 0%;
        padding-right: 0%;

      }
      .learnmore{
        gap: 8px;
        text-transform: uppercase;
        display: flex;
        align-self: flex-end;
       
       
       position: absolute;
        right: 10px;
        top: 40px;
       font-size: 15px;

      }
    .box0 a{
      text-decoration: none;
      color:white;
      font-size: 12px;
      
    }
      .box0{
        display: flex;
        
        position: relative;
        margin-bottom: 5%;
        width: 100%;
        background-color: gray;
       box-shadow: inset 0px -10px 10px rgba(112, 111, 111, 0.3);
       
        height: 65px;
      }
      .box-content p{
        text-transform: uppercase;
      }
      .divtext2 img{
        padding-left: 5px; 
      }
      
      .divtext{
        font-size: 20px;
        margin:0% 0% 0% 0%;
        padding: 2%;
        font-family: sans-serif;
      }
      .text-last p{
        margin: 0% 0% 5% 5%;
        font-size: 1em;
      }
      .text-right{
        margin: 2% 0% 0% 5%;
        font-size: 25px;
        text-transform: uppercase;
        font-family: sans-serif;
        padding: 0%;

      }
      .left-sc{
        margin: 8% 5% 0% 10%;
      }
      .right-sc{
        margin: 5% 0% 0% 0%;
      }
      
    .learn-text{
      font-size:17px;
      font-family:Arial, Helvetica, sans-serif;
      margin-top: 1%;
      margin-left: 0%;
      padding-left: 0%;
      
    }
       
      .law-blog{
        margin:  0% 0%  0% 0% ;
      
        font-size: 1.5em;
        font-family: serif;
        text-transform: uppercase;
      }
     
      
   #image-c{
    padding: 25% 10% 10% 10%;
   }
  .line1{
    height: 1px ;
    width: 230px;
    background: #000;
    margin-left:5%;
    
  }

  .btun{
    margin-left: 15%;
  }
  .line{
    height: 1px;
    width: 230px;
    background: #000;
    margin: 0%;
  }
  .btn1{
 margin-left: 20%;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2);
          background-color: #a61616;
           color: white; 
            width: 130px; 
            height: 30px; 
            text-transform: uppercase;
             border: #a61616;
              box-shadow: black 2px;
              gap: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
  }
  .line0{
     height: 1px ;
    width: 230px;
    background: #000;
    margin-left:0%;
  }
  
       .btn{
        margin-left: 30%;
          box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2);
          background-color: #a61616;
           color: white; 
            width: 130px; 
            height: 30px; 
            text-transform: uppercase;
             border: #a61616;
              box-shadow: black 2px; 
       }
   
      form{
        margin-left: 5%;
      
      }
       .form input{
        margin-bottom: 5%;
        height: 4vh;
        border: solid 1px;
      width: 13vw;
    
      }
      label{
        text-transform: uppercase;
        font-family:  sans-serif;
     
        font-size: 1.7em;
      }
      .sections{
        display: flex;
        gap: 25px;

        
      }
      .left-section img{ 
        margin:  2% 0% 0% 2.5%;
        padding-bottom: 0%;
        object-fit: cover;
       height: 67vh;
       width: 50vw;
         box-shadow: -1px 0px 5px 0px rgb(11, 11, 11);
     
      }
       .right-section {
       
        height: 67vh;
        width: 50vw;
        background-image: url(form_bg.jpg);
font-size: 9.5px;
background-repeat: no-repeat;
object-fit: cover;
background-size: 100% 100%;
background-position: center;
    
   display: flex;
   flex-direction: column;
        border:  solid rgb(180, 176, 176);
        border-width: 1px;
     box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
        margin: 1% 2% 0% 0%;
        padding-right: 8px;
      
      }
      .last p{
        margin-top: 20px;
      }
      
   
      #image-line{
        width:200px;
         height:2px;
      }
   
       /* .head{ 
         display: flex;
      
        width: 190px;
        height: 40px;
        background-color: #a61616;
        display: flex;
        font-size: 0px;
        text-transform: uppercase;
        color: white;
      } */
     /* .head h3{
    color: #000;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
   
     
     } */

     .right-section  p{
      font-size: 2.2em     }
      .head{
        color: #110f0f;
        display: flex;
        margin: 0%;
        padding: 0%;
        
      }
         #formimage{
transform: rotate(9deg);
height: 7em;
width: 21em;
margin-bottom: 2em;
      }
      .last p{
        font-size: 1.6em;
      }
     
      .head  h4{
       
        margin: 0%;
      font-family: sans-serif;
   padding: 0.5em 0  0  1em ;
      font-size: 2.1em;
    width: fit-content;
    
      }
      .head h3{
        background-color: #a61616;
        width: 16vw;
       height: fit-content;
        font-family:   Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 3em;
        color: white;
        padding: 2.5%;
        margin: 0%;
      }

      .submit-btn{
        background-image: url(bullet_white.gif);
      background-repeat: no-repeat;
      background-position:32rch ;
      border: none;
      background-size: 10px;
      background-color:#a61616;
      color: white;
      text-transform: capitalize;
     font-size: 20px;
      box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
     width: 275px;
      height: 40px;
margin-left: 25px;
align-items: center;
      margin-top: 10px;
      }
     
       .form{
        text-align: end;   
       }
    
      .last{
        display: flex;
  align-items: center;

      }
      .photo-border img{
        height: 12vh;
        width: 8vw;
        margin-bottom: 10%;
      }
    
     
     @media  (max-width: 500px)  {

        
    


.left-footer-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rbs{
   display: flex;

  justify-content: center;
  justify-items: center;
 text-align: center;
  align-items: center;
 
}   
.nav-right{
    font-size: 0.5rem;
  display: contents;

  }
 .navbar{
  display: contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
  
  .navlogo img{
 width: 50vw;
 height: 10vh;
 
  }
  ul{
    
margin: 0%;
    height: 5vh;
     display: flex;
   
    justify-content: center;
    gap: 10px;

  }.nav-main{
       height: 25px; 
  }
  li a{
    font-size: 0.5rem; 
    display: flex;
 
    
  }
   .breadcrum-items[aria-current="page"]  {
     background-color:gray ;
     height: 15px;
     width: 30px;
   
    
    
 } 
 
.btn{
  width: 20px;
  height: 10px;
}
.sections{
  display: flex;
  flex-direction: column;
  ter;
  align-items: center;
 
  
}
 .left-section img{ 
       
        
        object-fit: cover;
       height: 35vh;
       width:100%;
         box-shadow: -1px 0px 5px 0px rgb(11, 11, 11);
     
      }
       .right-section{
        display: contents;
      margin-top: -20px;
      margin-left: 25px;
        height: 35vh;
        width: 75vw;
        background-image: url(form_bg.jpg);
font-size: 4px;
background-repeat: no-repeat;
object-fit: cover;
background-size: 100% 100%;
background-position: center;
    
   display: flex;
   flex-direction:column;
        border:  solid rgb(180, 176, 176);
        border-width: 1px;
     box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
      
      
      }
           .form input{
        margin-bottom: 5%;
        height: 2vh;
        border: solid 1px;
      width: 15vw;
    
      }
     
      h3{
        font-size: 10px;
      }
       textarea{
        height: 100%;
        width: 150px;
        
      }
        .submit-btn{
        background-image: url(bullet_white.gif);
      background-repeat: no-repeat;
      background-position: 15em;
      background-size: 1em;
      background-color:#a61616;
      color: white;
      text-transform: capitalize;
     font-size: 1.5em;
     padding-bottom: 9px  ;
     padding-left: 10px;
     width: 19em;
      height: 0.5em;
margin-left: 5em;
margin-top: 3%;
     
      }

  
      
      
   
   .btn0{
    height: 10px;
    width: 50px;
    font-size: 4px;
    display: flex;
   }
      }
      
      
    

  
   .partition-div img{
width: 100%;
height: 10px;
display: flex;
align-items: center;
justify-content: center;
   }
  
   
    @media  (max-width: 850px)  {
.left-footer-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{

   display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.center-section{
   display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.right-body-section{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}
#rbs{
   display: flex;

  justify-content: center;
  justify-items: center;
 text-align: center;
  align-items: center;
 
}   
.nav-right{
    font-size: 0.5rem;
  display: contents;

  }
 .navbar{
  display: contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
  
  .navlogo img{
 width: 50vw;
 height: 10vh;
 
  }
  ul{
    
margin: 0%;
    height: 5vh;
     display: flex;
   
    justify-content: center;
    gap: 10px;

  }.nav-main{
       height: 25px; 
  }
  li a{
    font-size: 0.5rem; 
    display: flex;
 
    
  }
   .breadcrum-items[aria-current="page"]  {
     background-color:gray ;
     height: 15px;
     width: 30px;
   
    
    
 } 
 
.btn{
  width: 20px;
  height: 10px;
}
.sections{
  display: flex;
  flex-direction: column;
  ter;
  align-items: center;
 
  
}
 .left-section img{ 
       
        
        object-fit: cover;
       height: 35vh;
       width:100%;
         box-shadow: -1px 0px 5px 0px rgb(11, 11, 11);
     
      }
       .right-section{
        display: contents;
      margin-top: -20px;
      margin-left: 25px;
        height: 35vh;
        width: 75vw;
        background-image: url(form_bg.jpg);
font-size: 4px;
background-repeat: no-repeat;
object-fit: cover;
background-size: 100% 100%;
background-position: center;
    
   display: flex;
   flex-direction:column;
        border:  solid rgb(180, 176, 176);
        border-width: 1px;
     box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5); 
      
      
      }
      #field::placeholder{
color: black;
font-size: 5px;
font-family: Impact, ;
      }
           .form input{
        margin-bottom: 5%;
        height: 2vh;
        border: solid 1px;
      width: 15vw;
    
      }
     
      h3{
        font-size: 10px;
      }
       textarea{
        height: 100%;
        width: 150px;
        
      }
        .submit-btn{
        background-image: url(bullet_white.gif);
      background-repeat: no-repeat;
      background-position: 15em;
      background-size: 1em;
      background-color:#a61616;
      color: white;
      text-transform: capitalize;
     font-size: 1.5em;
     padding-bottom: 9px  ;
     padding-left: 10px;
     width: 19em;
      height: 0.5em;
margin-left: 5em;
margin-top: 3%;
     
      }

  
      
      
   
   .btn0{
    height: 10px;
    width: 50px;
    font-size: 4px;
    display: flex;
   }
      }
      
      
    

  
   .partition-div img{
width: 100px;
height: 1px;
display: flex;
align-items: center;
justify-content: center;
   }
  
   
    
 

 
